@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: #0E1924;
}

*::-webkit-scrollbar-thumb {
    background: #dddddd !important;
    border-radius: 20px;
}
body {
    overflow: hidden;
}
.loginBG {
    background-image: url(../assets/back.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.scroll::-webkit-scrollbar-track {
    background: #18222E;
}

.swiperApp {
    width: 100% !important;
    padding-top: 50px !important;
    height: 100vh !important;
    display: none !important;
}

@media screen and (max-width: 900px) {
    .swiperApp {
        display: flex !important;
    }
}